body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 1, 1, 0.733));
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
}
